<div class="container">
    <div class="row col-12 d-flex flex-row justify-content-center align-items-center mt-3">
      <div class="w3-content w3-section lg-6" style="min-width:100%; min-height: 300px;">
        <img class="mySlides w3-animate-fading"
          src="https://thietkelogo.edu.vn/uploads/images/thiet-ke-do-hoa-khac/banner-sach/1.png"
          style="width:100%; height: 500px;">
        <img class="mySlides w3-animate-fading"
          src="https://stbna.edu.vn/uploads/plugin/gallery/117/1588654894-784901682-banner-h-i-sach.jpg"
          style="width:100%; height: 500px;">
        <img class="mySlides w3-animate-fading"
          src="https://sunbook.vn/wp-content/uploads/2023/08/hmodule_banner_img1_1.webp"
          style="width:100%; height: 500px;">
        <img class="mySlides w3-animate-fading" src="https://inquangcaopcm.com/upload/images/54.jpeg"
          style="width:100%; height: 500px;">
      </div>
    </div>
  </div>